# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientists use are:

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create and format Markdown content in Jupyter Notebooks  
- Perform basic arithmetic operations in Python  
- Understand data science tools and environments

In [7]:
languages_ds = ["Python", "SQL", "R"]
for j, item in enumerate(languages_ds, start=1):
    print(f"{j}. {item}")

1. Python
2. SQL
3. R

Someof the popular libraries used by Data Scientists are:

In [22]:
libraries_ds = ["Plotlib","Numpy","Pandas", "ggplot"]
for i, item in enumerate(libraries_ds, start=1):
    print(f"{i}. {item}")

1. Plotlib
2. Numpy
3. Pandas
4. ggplot


| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

In [25]:
#This a simple arithmetic expression to mutiply then add integers
a=3
b=4
c=5
x= (a*b)+c
print (x)

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
hours = (200/60)
print (hours)

3.3333333333333335

## Author: 
EKPOKI ISAAC ALIYU